<div class="col-lg-12">
  <mat-card class="b-1 shadow-none">
    <mat-card-content class="b-t-1">
      <mat-tab-group [selectedIndex]="selectedIndex" animationDuration="0ms">
        <mat-tab *ngFor="let tab of tabs; let i = index">
          <ng-template mat-tab-label>
            {{ tab.title }}
            <button (click)="removeTab(i)" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <div class="bg-light-primary mat-body-1 p-16 rounded m-t-12">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-0">
                <mat-tab-group mat-stretch-tabs="false" animationDuration="1ms">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div class="d-flex align-items-center">
                        <mat-icon>supervisor_account</mat-icon>
                      </div>
                      User Query
                    </ng-template>
                    <mat-card-content class="p-y-24 b-t-1">
                      <app-user-query-table [tableConfigId]="tab.tableConfigId"></app-user-query-table>
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div class="d-flex align-items-center">
                        <mat-icon>receipt</mat-icon>
                      </div>
                      Column Details
                    </ng-template>
                    <mat-card-content class="p-y-24 b-t-1">
                      <app-column-detail></app-column-detail>
                    </mat-card-content>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div class="d-flex align-items-center">
                        <mat-icon>vertical_split</mat-icon>
                      </div>
                      Load Strategy
                    </ng-template>
                    <mat-card-content class="p-y-24 b-t-1">
                      <app-load-strategy></app-load-strategy>
                    </mat-card-content>
                  </mat-tab>
                </mat-tab-group>
                <div class="text-right p-24 p-t-0">
                  <button mat-flat-button color="primary" class="m-r-8">Save</button>
                  <button mat-stroked-button color="warn">Cancel</button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>












